<?php

namespace Afosto\ApiClient\Models\{{namespace}};

use Afosto\ApiClient\Models\_Base\{{namespace}}\Base{{name}};

/**
 * Use this class for custom methods that extend the default functionality for 
 * the {{name}}
 * 
 * This class can interact with api, through methods like find and save.
 */
class {{name}} extends Base{{name}} {
    
}