<?php

namespace Afosto\ApiClient\Models\{{namespace}};

use Afosto\ApiClient\Models\_Base\{{namespace}}\Base{{name}};

/**
 * Use this class for custom methods that extend the default functionality for 
 * the {{name}}
 * 
 * This class acts as a relation handler and makes it possible to traverse 
 * between objects
 */
class {{name}} extends Base{{name}} {
    
}